<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://kit.fontawesome.com/3a6cb10435.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="頁面管理__編輯style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
</head>
<body>
	<div id="page">
		<div class="edit-page">
			<div class="edit-page__block">
				<div class="block-control">
					<div><button class="control_button">上一頁</button></div>
					<div>
						<button class="control_button">刪除</button>
						<button class="control_button" v-on:click="seen = !seen">編輯</button>
						<button class="control_icon" style="font-size: 20px">
							<i class="fas fa-bars"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="edit-page__block">
				<div class="add-block">
					<button class="control_icon" style="font-size: 60px">
						<i class="fas fa-plus-circle"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="edit-background" v-if="seen"></div>
		<div class="edit-wrap" v-if="seen">
			<div class="edit-block" style="justify-content: flex-end;">
				<button class="control_button" style="margin-left:5px " v-on:click="seen = !seen">取消</button>
				<button class="control_button" style="margin-left:5px ">儲存</button>
			</div>
			<div class="edit-block">
				<span>樣式</span>
				<input class="edit-block__input" style="border-radius: 9px;border-style: solid;">
				<button class="control_button" style="margin-left:5px">變更</button>
			</div>
			<div class="edit-block">
				<span>標題</span>
				<input class="edit-block__input" style="border-radius: 9px;border-style: solid;">
			</div>
			<div class="edit-block">
				<span>內容</span>
				<input class="edit-block__input" style="border-radius: 9px;border-style: solid;">
			</div>
			<div class="edit-block">
				<span>區塊1</span>
				<div class="edit-block__type">
					<div>
						<span>title</span>
						<input class="edit-block__input">
						<span>icon</span>
						<input class="edit-block__input">
					</div>
					<div class="type1__content">
						<span>content</span>
						<input class="edit-block__input">
					</div>
				</div>
			</div>
			<div class="edit-block">
				<span>區塊2</span>
				<div class="edit-block__type">
					<div>
						<span>title</span>
						<input class="edit-block__input">
						<span>icon</span>
						<input class="edit-block__input">
					</div>
					<div class="type1__content">
						<span>content</span>
						<input class="edit-block__input">
					</div>
				</div>
			</div>
			<div class="edit-block">
				<span>區塊3</span>
				<div class="edit-block__type">
					<div>
						<span>title</span>
						<input class="edit-block__input">
						<span>icon</span>
						<input class="edit-block__input">
					</div>
					<div class="type1__content">
						<span>content</span>
						<input class="edit-block__input">
					</div>
				</div>
			</div>
			<div class="edit-block">
				<span>區塊4</span>
				<div class="edit-block__type">
					<div>
						<span>title</span>
						<input class="edit-block__input">
						<span>icon</span>
						<input class="edit-block__input">
					</div>
					<div class="type1__content">
						<span>content</span>
						<input class="edit-block__input">
					</div>
				</div>
			</div>
			<div class="edit-block">
				<span>區塊5</span>
				<div class="edit-block__type">
					<div>
						<span>title</span>
						<input class="edit-block__input">
						<span>icon</span>
						<input class="edit-block__input">
					</div>
					<div class="type1__content">
						<span>content</span>
						<input class="edit-block__input">
					</div>
				</div>
			</div>
			<div class="edit-block" style="margin-bottom: 20px">
				<span>區塊6</span>
				<div class="edit-block__type">
					<div>
						<span>title</span>
						<input class="edit-block__input">
						<span>icon</span>
						<input class="edit-block__input">
					</div>
					<div class="type1__content">
						<span>content</span>
						<input class="edit-block__input">
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="edit-wrap">
			<div class="edit-block" style="justify-content: space-between;">
				<div>樣式選擇</div>
				<div>
					<button>取消</button>
					<button>確認</button>
				</div>
			</div>
			<div class="template-style">
				<div class="template-style__pic">
					<img src="tem-pic-example.png" style="width: 464.625px;height: 220.5px">
				</div>
				<div class="template-style__pic">
					<img src="tem-pic-example.png" style="width: 464.625px;height: 220.5px">
				</div>
				<div class="template-style__pic">
					<img src="tem-pic-example.png" style="width: 464.625px;height: 220.5px">
				</div>
				<div class="template-style__pic">
					<img src="tem-pic-example.png" style="width: 464.625px;height: 220.5px">
				</div>
			</div>
		</div> -->
		<!-- <div class="edit-wrap">
			<div class="edit-block" style="justify-content: flex-end;">
				<button class="control_button" style="margin-left:5px " v-on:click="seen = !seen">取消</button>
				<button class="control_button" style="margin-left:5px ">儲存</button>
			</div>
			<div class="edit-block">
				<span>樣式</span>
				<input class="edit-block__input" style="border-radius: 9px;border-style: solid;">
				<button class="control_button" style="margin-left:5px">變更</button>
			</div>
			<div class="edit-block" style="justify-content: space-between;">
				<div>
					<span>標題</span>
					<input class="edit-block__input" style="border-radius: 9px;border-style: solid;
					margin-left: 15px">
				</div>
				<div>
					<span>圖片</span>
					<input class="edit-block__input" style="border-radius: 9px;border-style: solid;
					margin-left: 15px">
					<button class="control_button">瀏覽</button>
				</div>
			</div>
			<div class="edit-block">
				<span>內容</span>
				<input class="edit-block__input" style="border-radius: 9px;border-style: solid;">
			</div>
			<div class="edit-block">
				<span>bar1</span>
				<div class="edit-block__type edit-block__type--modify" >
					<div>
						<span>title</span>
						<input class="edit-block__input">
					</div>
					<div>
						<span>icon</span>
						<input class="edit-block__input">
					</div>
					<div style="display: flex;align-items: center;">
						<span>percentage</span>
						<input type="range" class="form-range" id="customRange1">
					</div>
				</div>
			</div>
			<div class="edit-block">
				<span>bar2</span>
				<div class="edit-block__type edit-block__type--modify" >
					<div>
						<span>title</span>
						<input class="edit-block__input">
					</div>
					<div>
						<span>icon</span>
						<input class="edit-block__input">
					</div>
					<div style="display: flex;align-items: center;">
						<span>percentage</span>
						<input type="range" class="form-range" id="customRange1">
					</div>
				</div>
			</div>
			<div class="edit-block">
				<span>bar3</span>
				<div class="edit-block__type edit-block__type--modify" >
					<div>
						<span>title</span>
						<input class="edit-block__input">
					</div>
					<div>
						<span>icon</span>
						<input class="edit-block__input">
					</div>
					<div style="display: flex;align-items: center;">
						<span>percentage</span>
						<input type="range" class="form-range" id="customRange1">
					</div>
				</div>
			</div>
			<div class="edit-block" style="margin-bottom: 20px">
				<span>bar4</span>
				<div class="edit-block__type edit-block__type--modify" >
					<div>
						<span>title</span>
						<input class="edit-block__input">
					</div>
					<div>
						<span>icon</span>
						<input class="edit-block__input">
					</div>
					<div style="display: flex;align-items: center;">
						<span>percentage</span>
						<input type="range" class="form-range" id="customRange1">
					</div>
				</div>
			</div>
		</div> -->
	</div>
	<script>
		var editpage = new Vue({
		  el: '#page',
		  data: {
		  	seen: false
		  }
		})
	</script>
</body>
</html>