<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://unpkg.com/vue"></script>
	<link rel="stylesheet" href="頁面管理__編輯style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
</head>
<body>
	<div id="page">
		<div class="edit-page">
			<div class="edit-page__block">
				<div class="block-control">
					<div><button>上一頁</button></div>
					<div>
						<button>刪除</button>
						<button v-on:click="seen = !seen">編輯</button>
						<button><i class="bi bi-justify"></i></button>
					</div>
				</div>
			</div>
			<div class="edit-page__block">
				<div class="add-block">
					<button><i class="bi bi-plus-circle"></i></button>
				</div>
			</div>
		</div>
		<div class="edit-background" v-if="seen"></div>
		<div class="edit-wrap" v-if="seen">
			<div class="edit-block" style="justify-content: flex-end;">
				<button class="edit-block__button" v-on:click="seen = !seen">取消</button>
				<button class="edit-block__button">儲存</button>
			</div>
			<div class="edit-block">
				<span>樣式</span>
				<input class="edit-block__input" style="border-radius: 9px;border-style: solid;">
				<button class="edit-block__button">變更</button>
			</div>
			<div class="edit-block">
				<span>標題</span>
				<input class="edit-block__input" style="border-radius: 9px;border-style: solid;">
			</div>
			<div class="edit-block">
				<span>內容</span>
				<input class="edit-block__input" style="border-radius: 9px;border-style: solid;">
			</div>
			<div class="edit-block">
				<span>區塊1</span>
				<div class="edit-block__type1">
					<div>
						<span>title</span>
						<input class="edit-block__input">
						<span>icon</span>
						<input class="edit-block__input">
					</div>
					<div class="type1__content">
						<span>content</span>
						<input class="edit-block__input">
					</div>
				</div>
			</div>
			<div class="edit-block">
				<span>區塊2</span>
				<div class="edit-block__type1">
					<div>
						<span>title</span>
						<input class="edit-block__input">
						<span>icon</span>
						<input class="edit-block__input">
					</div>
					<div class="type1__content">
						<span>content</span>
						<input class="edit-block__input">
					</div>
				</div>
			</div>
			<div class="edit-block">
				<span>區塊3</span>
				<div class="edit-block__type1">
					<div>
						<span>title</span>
						<input class="edit-block__input">
						<span>icon</span>
						<input class="edit-block__input">
					</div>
					<div class="type1__content">
						<span>content</span>
						<input class="edit-block__input">
					</div>
				</div>
			</div>
			<div class="edit-block">
				<span>區塊4</span>
				<div class="edit-block__type1">
					<div>
						<span>title</span>
						<input class="edit-block__input">
						<span>icon</span>
						<input class="edit-block__input">
					</div>
					<div class="type1__content">
						<span>content</span>
						<input class="edit-block__input">
					</div>
				</div>
			</div>
			<div class="edit-block">
				<span>區塊5</span>
				<div class="edit-block__type1">
					<div>
						<span>title</span>
						<input class="edit-block__input">
						<span>icon</span>
						<input class="edit-block__input">
					</div>
					<div class="type1__content">
						<span>content</span>
						<input class="edit-block__input">
					</div>
				</div>
			</div>
			<div class="edit-block" style="margin-bottom: 20px">
				<span>區塊6</span>
				<div class="edit-block__type1">
					<div>
						<span>title</span>
						<input class="edit-block__input">
						<span>icon</span>
						<input class="edit-block__input">
					</div>
					<div class="type1__content">
						<span>content</span>
						<input class="edit-block__input">
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		var editpage = new Vue({
		  el: '#page',
		  data: {
		  	seen: false
		  }
		})
	</script>
</body>
</html>